{% extends 'base_layout.html.twig' %}

{% block title %}Update your profile{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Hello, {{ app.user.getFullName }}</h1>
    </div>

    <div class="row mb-5">
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="card">
                <h5 class="card-header">Change Profile Picture</h5>
                <div class="card-body">
                    {# For social login, we will get profile picture URL not our local path #}
                    {% if "http" in app.user.getProfilePicture|slice(0,4) %}
                        <img src="{{ app.user.getProfilePicture }}" class="card-img-top mb-3">
                    {% else %}
                        <img src="{{ asset("app_uploads/users/profile/" ~ app.user.getProfilePicture) }}" class="card-img-top mb-3">
                    {% endif %}

                    {{ form(profilePictureForm) }}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <h5 class="card-header">Update your profile</h5>
                <div class="card-body">
                    {{ form(profileGenralForm) }}
                </div>
                <div class="card-footer">
                    Last updated at {{ app.user.getUpdatedAt|ago }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Change password</h5>
                <div class="card-body">
                    {{ form(passwordUpdateForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}