<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock %} - {{ app_global.name }}</title>
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
    <script src="{{ asset('assets/js/font_awesome_all.min.js') }}"></script></head>
<body class="bg-light">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                {# Dismissable flash message view #}
                {% include "includes/flash.html.twig" %}

                <div class="row justify-content-center">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-dark mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-white">Copyright &copy;  {{ app_global.name }} {{ 'now'|date('Y') }}</div>
                    <div>
                        <a class="text-white" href="{{ app_global.privacy_policy }}">Privacy Policy</a>
                        &middot;
                        <a class="text-white" href="{{ app_global.terms_conditions }}">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>
</body>
</html>