{% extends 'admin_base_layout.html.twig' %}

{% block title %}Manage Users - Admin Dashboard{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manage Users</h1>
        {#<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>#}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Gender</td>
                        <td>Joined At</td>
                        <td>Last Updated At</td>
                        <td>Last Logged In</td>
                        </thead>

                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.getFullName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.gender }}</td>
                                <td>{{ user.getCreatedAt|date("Y-m-d H:i") }}</td>
                                <td>{{ user.getUpdatedAt|date("Y-m-d H:i") }}</td>
                                <td>{{ user.getLastLoggedInAt|date("Y-m-d H:i") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


